/* ho fatto un reset  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ho aggiunto un padding al body e ho sistemato lo spazio di sopra */
body{
  padding: 40px 40px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.left{
  float: left;
}

.container{
  width: 1200px;
  margin: 0 auto;
  border: 1px solid white;
}
/* reparto header, ho sistemato l'header, mettendo il titolo centrato, sistemando anche il font-size, ho sistemato anche i margini e i colori  */
header{
  max-width: 100%;
  margin-bottom: 3rem;
  text-align: center;
}

header p{
  padding: 20px 20px 35px 20px;
}

h1{
  color: rgb(212, 71, 104);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.meet-out-team{
  max-width: 1100px;
  margin: auto;
}

/* questa è la sezione main, ho aggiunto un width: calc(100% / 3) calcolando la larghezza dell'elemento, in questo caso di box, come il risultato della divisione nel 100%, che rappresenta la larghezza del contenitore padre, per 3, quindi box, avrà una larghezza equivalente a un terzo della larghezza del contenitore padre. Poi ho aggiunto dei colori, e sistemato i margini, e altro*/
.box{
  width: calc(100% / 3);
  padding: 15px;
}

.card{
  background-color: rgb(15, 14, 23);
  box-shadow: 5px 10px 18px #a7a4a4;
}

.card img{
  max-width: 100px;
  margin-right: 20px;
}

.photo{
  padding: 15px 0px;
  height: 100px;
}

h3{
  color: white;
}

.card h3{
  text-transform: uppercase;
  font-weight: 600;
}

.card p{
  display: block;
  font-size: 15px;
}

.card h3, .card p{
  color: white;
  margin-bottom: 0.4rem;
}

/* ho fixato il colore dei link */
.card a{
  color: rgb(110, 203, 205);
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
}

